body,html{
    height: 100%;
    margin: 0;
}

/*Border*/


.border_top, .border_footer_top {
    border-top: 2px ridge #B5A774;
}
.border_footer{
   border-top: 2px ridge #B5A774;
   border-bottom: 2px ridge #B5A774;
}
.contact_border{
    border: 2px ridge #B5A774; 
    padding: 20px;
}

/*Background Color*/


.slide_bg_color, .footer_bg_color, .nav_drinks_bg_color .nav-link.active, .menu_bg_color, .staff_bg_color, .contact_bg_color  {
    background-color: #fcfcfa; 
}

.nav_menu_bg_color .nav-link.active{
   background-color: #fff; 
}

/*Background Images*/


.background_image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    height: 70%; 
    border: 2px ridge #B5A774; 
    opacity: 0.9;
}

.background_heading_home, .background_heading, .menu_heading{
    font-family: 'Merienda', cursive; 
    color: #fff;
    font-weight: 700;
    padding: 100px 0;
}

#home_bg_image{
    background-image: url(/static/image/food_images/seafood.jpg);
}

#menu_bg_image{
    background-image: url(/static/image/others/restaurant.jpg);
 }
 
#events_bg_image{
    background-image: url(/static/image/others/artist.jpeg);
}

#about_bg_image{
    background-image: url(/static/image/others/groupofriends.jpg);
}

#contact_bg_image{
    background-image: url(/static/image/others/coffeemail.jpg);
}

/* Colors */


.navbar-light .navbar-nav .active > .nav-link  {
    color:#a0ab9f;
}

span > i, .cheers_textcolor{
   font-size: medium; 
   color: #415840;
}

.menu-item-price{
    color:  #a0a0a0;
}

/*Font family, Font size, Font */


.navbar-light .navbar-nav .nav-link, .heading, .button_heading {
    font-family: 'Fredericka the Great', cursive;
    color: #415840;
}

.text_family_size, .footer_items, .menu-item-description, .menu-item-accompaniment, .menu-item-price{
    font-family: 'Merienda', cursive;  
}

 .navbar-light .navbar-nav .nav-link, .text_family_size{
    font-size: 20px;
}

.button_heading{
    font-size: 2em;
}
.span_size{
    font-size: small;
}

/*Margin, Padding, Width, Height*/

.center{
    display: block;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
}

.padding_div{
    padding: 25px 0;    
}

.margin_small_devices{
    padding-top: 25px;
    margin-top: 25px;
    border-top: 2px ridge #B5A774;
    
}

.artists_events_div_width{
    width: 90%;
}

.cards_width, .drinks_menu_width {
    width: 80%;    
}

.card-deck{
    margin-left: 0;
    margin-top: 0;
}

.staff_width_img{
    width: 100%;    
}

.contact_div_margin{
    margin-top:  5%;   
}

.contact_padding{
    padding-top: 10%;
}

/*Hr */


.horizontal{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #415840 inset;
	width:75%;   
}


/*Hover & More Colors*/


.navbar-light .navbar-nav .nav-link:hover, .heading:hover, .nav_menu_bg_color .nav-link.active >.heading,
.nav_drinks_bg_color .nav-link.active >.heading , .cheers_textcolor:hover{
    color: #628460;
}

.footer_items:hover{
    background-color: #f0ede3;
}

/*Others*/


.align_left{
    text-align: left;
}

.pre-line{
    white-space: pre-line;
}

.hide_small_screens{
    display: none !important;
    white-space: pre-line;
}

a, .btn-link{
    text-decoration: none !important;
}

.contact_underline{
    text-decoration: underline;    
}

/*Media queries */


@media(min-width: 576px ){
    .margin_small_devices{
        margin-top: 0;  
        border-top: 0;
        padding-top: 0;
    }
    
    .border_footer{
        border-top: 0;
        border-bottom: 0;
        border-left:  2px ridge #B5A774;
        border-right:  2px ridge #B5A774;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .background_heading_home{
        padding-top: 200px;
        font-size: 6em;
    }
}

@media (min-width:768px){
    
    .background_heading{
        font-size: 5em;
        padding: 175px 0;
    }
    
    .hide_big_screens{
        display: none !important; 
    }
    
    .hide_small_screens{
        display: block !important;   
    }
    
    .nav_menu_bg_color .nav-link.active{
        background-color: #fcfcfa;    
    }
    
    span > i{
        font-size: x-large;   
    }
    .span_size {
        font-size: medium;
    }
    
    .drinks_menu_width, .cards_width {
       width: 60%; 
    }
    
    .artists_events_div_width{
        width: 95%;
    }
}
   
@media (min-width: 992px){
    .background_heading_home{
        padding: 225px 0;
        font-size: 6em;
    }
}

/*Animations */


@keyframes attention {
  from {font-size: 16px;}
  to {font-size: 17px;}
}

.hide_big_screens{
    
  animation-name: attention;
  animation-duration: 4s;
  animation-direction: normal;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
  animation-delay: 2s;
  
}