body,html{
    height: 100%;
    margin: 0;
}

/*Border*/

.border_footer_top, .border_top{
    border-top: 2px ridge #B5A774;
}
.border_footer{
   border-top: 2px ridge #B5A774;
   border-bottom: 2px ridge #B5A774
}

/*Background Color*/

.slide_bg_color, .footer_bg_color{
    background-color: #fcfcfa;
}

/*Background Images*/

.background_image{
    background-image: url(/static/image/food_images/grilled-seafood.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    height: 70%; 
    border: 2px ridge #B5A774; 
}

.background_image_heading{
    font-family: 'Merienda', cursive; 
    color: #fff;
    font-weight: 700;
    padding: 100px 0;
}

#restaurant_bg_image{
    background-image: url(/static/image/others/restaurant_main.jpg);
}
/* Colors */

span > i{
   font-size: x-large; 
   color: #415840;
}

.navbar-light .navbar-nav .active>.nav-link{
    color:#a0ab9f;
}


/*Font family, Font size, Font */

.navbar-light .navbar-nav .nav-link, .heading {
    font-family: 'Fredericka the Great', cursive;
    color: #415840;
    
    
}
.text_changes, .footer_items{
    font-family: 'Merienda', cursive;  
    
}

a{
    text-decoration: none !important;
}

.text_changes, .navbar-light .navbar-nav .nav-link{
    font-size: 20px;
}


/*Margin, Padding, Center*/

.center{
    display: block;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
}

.padding_div{
    padding: 25px 0;    
}

/*Hr */

.horizontal{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #415840 inset;
	width:75%;   
}

/*Hover*/

.navbar-light .navbar-nav .nav-link:hover, .heading:hover{
    color: #628460;
}
.footer_items:hover{
    background-color: #f0ede3;
}


/*Media queries */


@media (min-width: 768px) and (max-width: 991px){
    .background_image_heading{
        padding-top: 200px;
        font-size: 6em;
    }
}
@media (min-width:768px){
    .border_footer{
        border-top: 0;
        border-bottom: 0;
        border-left:  2px ridge #B5A774;
        border-right:  2px ridge #B5A774;
    }
    
}

@media (min-width: 992px){
    .background_image_heading{
        padding: 225px 0;
        font-size: 6em;
    }
   
}

