body,html{
    height: 100%;
    margin: 0;
    
}
/*Background Images*/

.background_image{
    background-image: url(/static/image/food_images/grilled-seafood.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    height: 70%; 
    border: 2px ridge #B5A774; 
}

.background_image_heading{
    color: #fff;
    font-weight: 700;
    padding: 100px 0;
}
.center{
    display: block;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
}

/*Media queries */
@media(max-width: 767px){
    
}


@media (min-width: 768px) and (max-width: 991px){
    .background_image_heading{
        padding-top: 200px;
        font-size: 6em;
    }
}

@media (min-width: 992px){
    .background_image_heading{
        padding: 225px 0;
        font-size: 6em;
    }
}

