<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <title>Seasons Restaurant</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="/templates/home.html">
                <img src="/static/image/others/LogoSample_ByTailorBrands.jpeg" height="50" width="100" class="d-inline-block align-top" alt="Seasons Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Book A Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <!--Home background_image-->
        <div class="background_image" >
            <h1 class="background_image_heading">Tastes Like Heaven</h1>
        </div>
        
        <!--Carousel with the next three events-->
        <div class="slide_bg_color padding_div">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 center">
                    <a href="/templates/events.html"><h1>Events</h1></a>
                    <div id="eventsCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#eventsCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#eventsCarousel" data-slide-to="1"></li>
                            <li data-target="#eventsCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!--bootstrap width 75%-->
                                <img class="w-75" src="/static/image/artists_events/jessiej-opt.jpg" alt="Jessie J">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Jessie J</h5>
                                    <p>28/03/2019</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!--bootstrap width 75%-->
                                <img class="w-75" src="/static/image/artists_events/ellamai-opt.jpg" alt="Ella Mai">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Ella Mai</h5>
                                    <p>14/03/2019</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!--bootstrap width 75%-->
                                <img class="w-75" src="/static/image/artists_events/bublee-opt.jpg" alt="Michael Buble">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Michael Buble</h5>
                                    <p>03/03/2019</p>
                                </div>
                            </div>
                        </div>    
                </div>
                    <div class="w-75 center pitch">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quos, aperiam voluptas quisquam. Voluptatem doloremque obcaecati culpa unde optio quae saepe est dicta, a incidunt, aspernatur eligendi aliquid, consectetur pariatur!</div>
                </div>
            </div>
        </div>
        <div class="row border_top padding_div">
            <div class="col-sm-6 center">
                <a href=""><h2>Book A Table</h2></a>
                <hr class="horizontal">
                <iframe class="center" src="https://www.opentable.co.uk/widget/reservation/canvas?rid=51886&amp;type=standard&amp;theme=tall&amp;overlay=true&amp;lang=en&amp;r3abvariant=false&amp;r3uid=Hkln5Yu7fX&amp;newtab=false" width="286" height="450" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-sm-6 center">
                <a href=""><h2>Explore the Menu</h2></a>
                <hr class="horizontal">
                <div class="w-75 center pitch">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quos, aperiam voluptas quisquam. Voluptatem doloremque obcaecati culpa unde optio quae saepe est dicta, a incidunt, aspernatur eligendi aliquid, consectetur pariatur!</div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row footer_bg_color border_footer_top ">
            <div class="col-sm-4 center footer_items padding_div">
                <h3>Opening Times</h3>
                <p>Sun - Thu: 12:00-22:00 </p>
                <p>Fri - Sat: 12:00-23:00 </p>
                
            </div>
            <div class="col-sm-4 center footer_items border_footer padding_div">
                <h3>Address & Contact</h3>
                <p>100 Falafel Road, GL1-345, London</p>
                <p>555 232 343 454</p>
            </div>
            <div class="col-sm-4 center footer_items padding_div">
                <h3>Social Media</h3>
                <span> <i class="fab fa-facebook-f"></i></span>
				<span> <i class="fab fa-instagram"></i></span>
				<span> <i class="fab fa-twitter"></i></span>
			</div>
        </div>
    
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>