<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Merienda:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <title>Seasons Course Menu</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="/templates/home.html">
                <img src="/static/image/others/LogoSample_ByTailorBrands.jpeg" height="50" width="100" 
                    class="d-inline-block align-top" alt="Seasons Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
                aria-expanded="false" aria-label="Toggle navigation">
                
                <!--Font awesome icon button to open navbar -->
                <span><i class="fas fa-utensils"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/home.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/templates/menu.html">Menu<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/templates/events.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/home.html#bookAtable">Book A Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/aboutus.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/contactus.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
    
        <!--Menu background_image-->
        <div class="background_image" id= "menu_bg_image">
            <h1 class="background_heading center">Menu</h1>
        </div>
        
        <!--Bootstrap Margin top 5 (mt-5)-->
        <ul class="nav nav-tabs nav-fill justify-content-center nav_bg_color mt-5">
            <li class="nav-item">
                <!--Bootstrap padding top 2 (pt-2)-->
                <a class="nav-link active pt-2" href="/templates/menu.html">
                    <h4 class="heading">À LA CARTE</h4>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/drinks.html">
                    <h4 class="heading">DRINKS MENU</h4>
                </a>
            </li>
        </ul>
        
        <div class="menu_bg_color padding_div">
        
            <!--Bootstrap margin bottom 5 (mb-5)-->
            <div id="accordion" class="cards_width center mb-5">
            
                <blockquote class="blockquote text_family_size padding_div">
                    
                    <!--Bootstrap margin bottom 0 (mb-0)-->
                    <p class="mb-0">"Food is not just eating energy. It's an experience."
                    <footer class="blockquote-footer">Guy Fieri</footer>
                </blockquote>
                
                <div class="card">
                
                    <!-- When this image is clicked, the card menu is opened/closed.  -->
                    <img class="card-img-top" src="/static/image/food_images/mussels.jpg" alt="Appetisers Presentation" 
                        data-toggle="collapse" data-target="#appetisersCollapse" aria-expanded="true" aria-controls="appetisersCollapse">
                        
                    <div class="card-header" id="appetisers">
                    
                        <!--Bootstrap margin bottom 0 (mb-0)-->
                        <button class="btn btn-link mb-0" data-toggle="collapse" data-target="#appetisersCollapse" 
                            aria-expanded="true" aria-controls="appetisersCollapse">
                            <span class="button_heading">Appetisers</span>
                        </button>
                        
                        <!--Bootstrap text-info used to inform the user of the need to click on the image to open the menu.-->
                        <span class="center text_family_size text-info span_size"> 
                            The menu opens/closes when you click on the image.
                        </span>
                    </div>
                    
                    <div id="appetisersCollapse" class="collapse show" aria-labelledby="appetisers" data-parent="#accordion">
                        <div class="card-body center">
                            <dl class="menu-items">
                                <dt class="menu-item-title">French Style Mussels</dt>
                                <dd class="menu-item-description">Cream, White Wine, Garlic & Herbs</dd>
                                <dd class="menu-item-accompaniment">Served with Fresh Baked Bread</dd>
                                <dd class="menu-item-price">£9.50</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Grilled Scallops</dt>
                                <dd class="menu-item-description">Lemon, olive oil & Herbs</dd>
                                <dd class="menu-item-accompaniment">Served with Chickpea salad</dd>
                                <dd class="menu-item-price">£7</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Marinated Olive Mix</dt>
                                <dd class="menu-item-price">£4</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Prawn Cocktail</dt>
                                <dd class="menu-item-description">Chili & Marie Rose Sauce </dd>
                                <dd class="menu-item-accompaniment">Served with Avocado & Fresh Baked Bread</dd>
                                <dd class="menu-item-price">£6</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Sautéed Octopus</dt>
                                <dd class="menu-item-description">Chimichurri sauce</dd>
                                <dd class="menu-item-price">£8</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Sharing Board for 2</dt>
                                <dd class="menu-item-accompaniment">Selection of Fine Cured Meats & World Selection of Cheese</dd>
                                <dd class="menu-item-price">£12</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Soup of the day</dt>
                                <dd class="menu-item-accompaniment">Served with Fresh Baked Bread</dd>
                                <dd class="menu-item-price">£4</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card">
                
                    <!-- When this image is clicked, the card menu is opened/closed.  -->
                    <img class="card-img-top" src="/static/image/food_images/lobsterchips.jpeg" alt="Fish meal Presentation" 
                        data-toggle="collapse" data-target="#fishCollapse" aria-expanded="false" aria-controls="fishCollapse">
                        
                    <div class="card-header" id="mainFish">
                    
                        <!--bootstrap margin bottom 0-->
                        <button class="btn btn-link collapsed mb-0" data-toggle="collapse" data-target="#fishCollapse" aria-expanded="false" 
                            aria-controls="fishCollapse">
                            <span class="button_heading">Mains - Fish</span>
                        </button>
                        
                        <!--Bootstrap text-info used to inform the user of the need to click on the image to open the menu.-->
                        <span class="center text_family_size text-info span_size"> 
                            The menu opens/closes when you click on the image.
                        </span>
                    </div>
                    <div id="fishCollapse" class="collapse" aria-labelledby="mainFish" data-parent="#accordion">
                        <div class="card-body">
                            <dl class="menu-items">
                                <dt class="menu-item-title">Fish Casserole (Cod, Seabream, Sword fish)</dt>
                                <dd class="menu-item-description">Wine & Tomato Sauce</dd>
                                <dd class="menu-item-accompaniment"> Served with Vegetables</dd>
                                <dd class="menu-item-price"> £25</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Fresh Whole Lobster </dt>
                                <dd class="menu-item-description">Garlic Butter</dd>
                                <dd class="menu-item-accompaniment">Served with French Fries <br> *Choose your Lobster* </dd>
                                <dd class="menu-item-price">£35</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Maple Soy Glazed Salmon</dt>
                                <dd class="menu-item-accompaniment">Served with Mushroom and Asparagus Risotto</dd>
                                <dd class="menu-item-price">£18</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Seafood Platter (Whole Lobster or Crab, Oyster, Mussels, King Prawn, Langoustines, Squid, Periwinkle)</dt>
                                <dd class="menu-item-description">Mignonette sauce, Cocktail sauce & Lemon</dd>
                                <dd class="menu-item-price">£55</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Today's Fresh </dt>
                                <dd class="menu-item-description">Tartare sauce</dd>
                                <dd class="menu-item-accompaniment">Served with French Fries & Mushy Peas</dd>
                                <dd class="menu-item-price">£14</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Tuna Steak *Cooked Rare*</dt>
                                <dd class="menu-item-accompaniment">Served with Chopped Salad</dd>
                                <dd class="menu-item-price">£16</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card">
                
                    <!-- When this image is clicked, the card menu is opened/closed.  -->
                    <img class="card-img-top" src="/static/image/food_images/filet.jpg" alt="Meat Presentation"
                        data-toggle="collapse" data-target="#meatCollapse" aria-expanded="false" aria-controls="meatCollapse">
                    
                    <div class="card-header" id="mainMeat">
                    
                        <!--bootstrap margin bottom 0-->
                        <button class="btn btn-link collapsed mb-0" data-toggle="collapse" data-target="#meatCollapse" aria-expanded="false" aria-controls="meatCollapse">
                            <span class="button_heading">Mains - Meat</span> 
                        </button>
                        <!--Bootstrap text-info used to inform the user of the need to click on the image to open the menu.-->
                        <span class="center text_family_size text-info span_size"> 
                            The menu opens/closes when you click on the image.
                        </span>
                    </div>
                    <div id="meatCollapse" class="collapse" aria-labelledby="mainMeat" data-parent="#accordion">
                        <div class="card-body">
                            <dl class="menu-items">
                                <dt class="menu-item-title">Filet Mignon</dt>
                                <dd class="menu-item-accompaniment">Served with Mash Potatoes & Steamed Vegetables</dd>
                                <dd class="menu-item-price">£18</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Rib-Eye Steak</dt>
                                <dd class="menu-item-description">Hollandaise sauce</dd>
                                <dd class="menu-item-accompaniment">Served with Rice & Sautéed Baby Potatoes</dd>
                                <dd class="menu-item-price">£18</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Sun-dried Goat Meat</dt>
                                <dd class="menu-item-accompaniment">Served with boiled Chayote & pan-fried Corn</dd>
                                <dd class="menu-item-price">£20</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card">
                    
                    <!-- When this image is clicked, the card menu is opened/closed.  -->
                    <img class="card-img-top" src="/static/image/food_images/halloumifries.jpg" alt="Side Presentation" 
                        data-toggle="collapse" data-target="#sidesCollapse" aria-expanded="false" aria-controls="sidesCollapse">
                    
                    <div class="card-header" id="sides">
                        
                        <!--Bootstrap margin bottom 0 (mb-0)-->
                        <button class="btn btn-link collapsed mb-0" data-toggle="collapse" data-target="#sidesCollapse" aria-expanded="false" 
                            aria-controls="sidesCollapse">
                            <span class="button_heading">Sides</span>
                        </button>
                        
                        <!--Bootstrap text-info used to inform the user of the need to click on the image to open the menu.-->
                        <span class="center text_family_size text-info span_size"> 
                            The menu opens/closes when you click on the image.
                        </span>
                    </div>
                    <div id="sidesCollapse" class="collapse" aria-labelledby="sides" data-parent="#accordion">
                        <div class="card-body">
                            <dl class="menu-items">
                                <dt class="menu-item-title">French Fries(Hand-cut Potatoes)</dt>
                                <dd class="menu-item-price">£2,5</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Fresh Baked Bread</dt>
                                <dd class="menu-item-description">Balsamic Olive oil</dd>
                                <dd class="menu-item-price">£3</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Halloumi Fries</dt>
                                <dd class="menu-item-description">Lemon, Harissa sauce & Mint</dd>
                                <dd class="menu-item-price">£3,5</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">House Greens </dt>
                                <dd> Please ask the Server for more information</dd>
                                <dd class="menu-item-price">£4</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Mashed Potato</dt>
                                <dd class="menu-item-price">£3</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Mixed Salad (Cucumber, Olives, Onion, Rocket, Sorrel, Spinach)</dt>
                                <dd class="menu-item-description">House Dressed</dd>
                                <dd class="menu-item-price">£3</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Rice</dt>
                                <dd class="menu-item-price">£3</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Sweet Potato Fries</dt>
                                <dd class="menu-item-price">£3,5</dd>
                            </dl>
                            </div>
                        </div>
                    </div>
                <div class="card">
                    
                    <!-- When this image is clicked, the card menu is opened/closed.  -->
                    <img class="card-img-top" src="/static/image/food_images/blackforest.jpg" alt="Dessert Presentation"
                        data-toggle="collapse" data-target="#dessertCollapse" aria-expanded="false" aria-controls="dessertCollapse">
                    
                    <div class="card-header" id="desserts">
                        
                        <!--bootstrap margin bottom 0-->
                        <button class="btn btn-link collapsed mb-0" data-toggle="collapse" data-target="#dessertCollapse" 
                            aria-expanded="false" aria-controls="dessertCollapse">
                            <span class="button_heading">Desserts</span>
                        </button>
                        
                        <!--Bootstrap text-info used to inform the user of the need to click on the image to open the menu.-->
                        <span class="center text_family_size text-info span_size"> 
                            The menu opens/closes when you click on the image.
                        </span>
                    </div>
                    
                    <div id="dessertCollapse" class="collapse" aria-labelledby="desserts" data-parent="#accordion">
                        <div class="card-body">
                            <dl class="menu-items">
                                <dt class="menu-item-title">Chocolate Mousse</dt>
                                <dd class="menu-item-price">£4,5</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Crème Brûlée</dt>
                                <dd class="menu-item-price">£4,5</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">Dark Forest Gâteau</dt>
                                <dd class="menu-item-price">£5</dd>
                            </dl>
                            <dl class="menu-items">
                                <dt class="menu-item-title">French Strawberry Tart</dt>
                                <dd class="menu-item-price">£5</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <!--Bootstrap Grid System-->
        <div class="row footer_bg_color border_footer_top ">
            <div class="col-sm-4 center footer_items padding_div">
                <h3 class="heading">Opening Times <br><i class="far fa-clock"></i></h3>
                <p class="text_family_size">Sun - Thu: 12:00-22:00 <br> Fri - Sat: 12:00-23:00 </p>
                
            </div>
            <div class="col-sm-4 center footer_items border_footer padding_div">
                <h3 class="heading">Address & Contact <br><i class="fas fa-map-marker-alt"></i></h3>
                <p class="text_family_size">100 Falafel Road, GL1-345, London <br> 555 232 343 454</p>
            </div>
            
            <div class="col-sm-4 center footer_items padding_div">
                
                <!--Use of font awesome icons for Instagram, Twitter and Facebook  -->
                <h3 class="heading pb-3">Social Media</h3>
                <span> <i class="fab fa-facebook-square"></i></span>
                
                <!--Bootstrap padding left and right 2 (pl-2, pr-2)-->
				<span> <i class="pr-2 pl-2 fab fa-twitter"></i></span>
			    <span> <i class="fab fa-instagram"></i></span>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>